@page "/experiments"

@inject AlgorithmRunnerService _algorithmRunnerService

<ul class="nav nav-tabs">
@foreach (var experiment in _experiments)
{
    <li class="nav-item">
        <a class="nav-link @(experiment.IsActive ? "active" : "")" href="#" @onclick="@(() => SelectExperiment(experiment.Name))">@experiment.Name</a>
    </li>
}
</ul>

@if (_currentExperiment == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Transaction Title="Current experiment"/>

    @foreach (var _ in _currentExperiment.Steps.Skip(1))
    {
        <Transaction Title="How is Blazor working for you?"/>
    }
}
