@page "/"

@using EtAlii.BinanceMagic.Service.Trading
@inject AlgorithmManager _algorithmManager


<Card>
    <CardHeader>
        <Icon Name="@("fa-magic")" />
        Accumulated 
    </CardHeader>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>

<Card>
    <CardHeader>
        <Icon Name="@("fa-chart-line")" />
        Simple trading 
    </CardHeader>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>

<Card>
    <CardHeader>
        <Icon Name="@("fa-infinity")" />
        Cyclic trading 
    </CardHeader>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>

<Card>
    <CardHeader>
        <Icon Name="@("fa-flask")" />
        Experimental trading 
    </CardHeader>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>
