@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <h1></h1>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>