@page "/one-off/view/{id?}"

@namespace EtAlii.BinanceMagic.Service

@inherits ViewBase<object, OneOffTrading, OneOffAlgorithmRunner>

<Row Margin="Margin.Is4">
    <Column ColumnSize="ColumnSize.Is1">
        <Button Color="Color.Primary">
            <Icon Name="IconName.Pause" />
            Pause
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is1">
        <Blazorise.Button Color="Color.Secondary" Type="ButtonType.Link" To="@($"/simple/edit/{Id}")">
            <Icon Name="@("fa-wrench")"/>
            Change
        </Blazorise.Button>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsAuto.OnTablet">
        <Card>
            <CardHeader>@Model.Name</CardHeader>
        </Card>        
    </Column>
</Row>
