@page "/settings"

@inject IJSRuntime _jsRuntime;

<div class="card m-2">
    <h4 class="card-header">General settings</h4>
    <div class="card-body">
        <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-5">
                    <label>API Key</label>
                    <InputText @bind-Value="_model.ApiKey" class="form-control" />
                    <ValidationMessage For="@(() => _model.ApiKey)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Secret key</label>
                    <InputText @bind-Value="_model.SecretKey" class="form-control" />
                    <ValidationMessage For="@(() => _model.SecretKey)" />
                </div>
            </div>
            <div class="text-l-center">
                <button type="submit" class="btn btn-primary mr-1">Save</button>
                @* <button type="reset" class="btn btn-secondary">Cancel</button> *@
            </div>
        </EditForm>
    </div>
</div>
